
<ion-item-group *ngIf="!isLoading">
  <ion-item-divider color="light">Básico</ion-item-divider>
  <ion-item>
    <ion-label >Nombre</ion-label>
    <ion-input class="text-input" [readonly]="!editing" type="text" value="" [(ngModel)]="perfil.first_name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label >Apellido</ion-label>
    <ion-input class="text-input" [readonly]="!editing" type="text" [(ngModel)]="perfil.last_name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label >Nacionalidad</ion-label>
    <ion-input class="text-input" [readonly]="!editing" type="text" [(ngModel)]="perfil.nacionality"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label>Tipo de identificación</ion-label>
      <!-- <ion-input class="text-input" [readonly]="!editing" type="text" [(ngModel)]="perfil.type_identification"></ion-input> -->
      <ion-select disabled="{{!editing}}" [(ngModel)]="perfil.type_identification">
          <ion-option value="RUT">Rut</ion-option>
          <ion-option value="pasaporte">Pasaporte</ion-option>
          </ion-select>
    </ion-item>
  <ion-item>
    <ion-label >RUT</ion-label>
    <ion-input class="text-input" [readonly]="!editing" type="text" [(ngModel)]="perfil.number_identification"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label >Fecha de nacimiento</ion-label>
    <ion-input class="text-input" *ngIf="!editing" [readonly]="!editing" type="text" [(ngModel)]="perfil.birthdate"></ion-input>
    <ion-datetime *ngIf="editing" displayFormat="DD/MM/YYYY" [(ngModel)]="perfil.birthdate"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label >Sexo</ion-label>
    <ion-input class="text-input" [readonly]="!editing" type="text" [(ngModel)]="perfil.sex"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label >Profesión o actividad</ion-label>
    <ion-input class="text-input" [readonly]="!editing" type="text" [(ngModel)]="perfil.activity"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label>Tipo de prevision</ion-label>
      <!-- <ion-input class="text-input" [readonly]="!editing" type="text" [(ngModel)]="perfil.forecast"></ion-input> -->
      <ion-select disabled="{{!editing}}" [(ngModel)]="perfil.forecast">
          <ion-option value="fonasa">FONASA</ion-option>
          <ion-option value="isapre">Isapre</ion-option>
          </ion-select>
    </ion-item>
</ion-item-group>

<ion-item-group *ngIf="!isLoading">
  <ion-item-divider color="light">Ubicación</ion-item-divider>
  <ion-item>
    <ion-label >Región</ion-label>
    <ion-input class="text-input" [readonly]="!editing" type="text" value="" [(ngModel)]="perfil.region"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label >Comuna</ion-label>
    <ion-input class="text-input" [readonly]="!editing" type="text" [(ngModel)]="perfil.commune"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label >Calle</ion-label>
    <ion-input class="text-input" [readonly]="!editing" type="text" [(ngModel)]="perfil.street"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label >Número</ion-label>
    <ion-input class="text-input" [readonly]="!editing" type="text" [(ngModel)]="perfil.number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label >Tipo de residencia</ion-label>
    <!-- <ion-input class="text-input" [readonly]="!editing" type="text" [(ngModel)]="perfil.type_housing"></ion-input> -->
    <ion-select disabled="{{!editing}}" [(ngModel)]="perfil.type_housing">
        <ion-option value="casa">Casa</ion-option>
        <ion-option value="departamento">Departamento</ion-option>
        </ion-select>
  </ion-item>
</ion-item-group>

<ion-item-group *ngIf="!isLoading">
  <ion-item-divider color="light">Contacto</ion-item-divider>
  <ion-item>
    <ion-label >Télefono</ion-label>
    <ion-input class="text-input" [readonly]="!editing" type="text" value="" [(ngModel)]="perfil.telephone"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label >Email</ion-label>
    <ion-input class="text-input" [readonly]="!editing" type="text" [(ngModel)]="perfil.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label >Télefono de emergencia</ion-label>
    <ion-input class="text-input" [readonly]="!editing" type="text" [(ngModel)]="perfil.telephone_emergency"></ion-input>
  </ion-item>
</ion-item-group>