  
  <ion-item-group *ngIf="!isLoading">
    <ion-item-divider color="light">Antecedentes</ion-item-divider>
    <ion-item>
      <ion-label>Obesidad</ion-label>
      <ion-textarea [readonly]="!editing" class="text-input" type="text" value="" [(ngModel)]="perfil.morbid_background"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Historial ginecologico</ion-label>
      <ion-textarea [readonly]="!editing" class="text-input" type="text" value="" [(ngModel)]="perfil.gyneco_obstetric_history"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Cirugias</ion-label>
      <ion-textarea [readonly]="!editing" class="text-input" type="text" value="" [(ngModel)]="perfil.surgeries"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Habitos</ion-label>
      <ion-textarea [readonly]="!editing" class="text-input" type="text" value="" [(ngModel)]="perfil.habits"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Medicamentos usados con regularidad</ion-label>
      <ion-textarea [readonly]="!editing" class="text-input" type="text" value="" [(ngModel)]="perfil.commonly_used_medications"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Alergias</ion-label>
      <ion-textarea [readonly]="!editing" class="text-input" type="text" value="" [(ngModel)]="perfil.allergies"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Historial familiar</ion-label>
      <ion-textarea [readonly]="!editing" class="text-input" type="text" value="" [(ngModel)]="perfil.family_background"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Historial social y personal</ion-label>
      <ion-textarea [readonly]="!editing" class="text-input" type="text" value="" [(ngModel)]="perfil.social_personal_background"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Inmunizaciones</ion-label>
      <ion-textarea [readonly]="!editing" class="text-input" type="text" value="" [(ngModel)]="perfil.immunizations"></ion-textarea>
    </ion-item>
  
  </ion-item-group>
  