<div *ngFor="let consult of list">

  <div *ngFor="let speciality of consult.speciality">
<div padding class="contenedors">
    <span class="favoritos">{{speciality.name}}</span>
  </div>
<ion-card *ngFor="let caso of speciality.case_medical">
  <ion-item-group>
      <ion-item-divider color="light">{{caso.name}}</ion-item-divider>
  </ion-item-group>
    <ion-item *ngFor="let consult of caso.consultation">
      <h2>{{consult.doctor}} - {{consult.date_consultation}}</h2>
      <ion-row>
          <ion-col>
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col>
            <button ion-button icon-start clear small (click)="verDetalle(consult, caso.name, speciality.name)">
              <div>Ver más</div>
            </button>
          </ion-col>
        </ion-row>
    </ion-item>

  
    
  
  </ion-card>
</div>
</div>